This is going to be a Template Driven Form
<h3>Enter your details</h3>
<br>Is the form Valid: <strong>{{myForm.valid}}</strong> 
<br>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">

  <table cellpadding="2" width="20%" align="center" cellspacing="2">
    <tr>
      <td>Name</td>
      <td><input type=text name="name" id="name" size="30" ngModel required></td>
    </tr>

    <tr>
      <td>Sex</td>
      <td><input type="radio" name="sex" value="male" size="10" ngModel>Male
          <input type="radio" name="sex" value="Female" size="10" ngModel>Female</td>
    </tr>

    <tr>
      <td>City</td>
      <td>
        <select name="City" ngModel>
          <option value="-1" selected>select..</option>
          <option value="New Delhi">NEW DELHI</option>
          <option value="Mumbai">MUMBAI</option>
          <option value="Goa">GOA</option>
          <option value="Patna">PATNA</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit Form" /></td>
    </tr>
  </table>
</form>
<strong>You provided the following details:-</strong>
<div *ngFor="let formValue of submittedFormValues"><strong>{{formValue}}</strong></div>